$primary: rgb(255, 81, 81);
$primary-variation1: rgb(236, 126, 126);
$primary-variation2: rgb(255, 159, 159);
$text-on-primary: rgb(46, 46, 46);

$secondary: rgb(255, 162, 56);
$secondary-variation1: rgb(139, 255, 158);
$secondary-variation2: rgb(169, 255, 184);
$text-on-secondary: rgb(46, 46, 46);

$primary-secondary-gradient: linear-gradient(to bottom right, $primary, $secondary);

$border-radius: 12px;

$thin-border-primary: 1px solid $primary;
$border-primary: 2px solid $primary;
$thick-border-primary: 4px solid $primary;

$background-color: rgb(245, 245, 245);
$card-background: rgb(255, 255, 255);

$shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
$hover-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);
