$primary: rgb(255, 135, 87);
$primary-variation1: rgb(255, 199, 176);
$primary-variation2: rgb(255, 229, 218);
$text-on-primary: rgb(46, 46, 46);

$secondary: rgb(255, 245, 160);
$secondary-variation1: rgb(255, 248, 189);
$secondary-variation2: rgb(255, 252, 225);
$text-on-secondary: rgb(46, 46, 46);

$tertiary: rgb(255, 192, 56);
$tertiary-variation1: rgb(139, 255, 158);
$tertiary-variation2: rgb(169, 255, 184);
$text-on-tertiary: rgb(46, 46, 46);

$primary-secondary-gradient: linear-gradient(45deg, $primary, $secondary);
$secondary-tertiary-gradient: linear-gradient(to bottom right, $secondary, $tertiary);

$border-radius: 24px;

$thin-border-primary: 1px solid $primary;
$border-primary: 2px solid $primary;
$thick-border-primary: 4px solid $primary;

$background-color: rgb(245, 245, 245);
$card-background: rgb(255, 255, 255);

$shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.2);
$hover-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
$collapsed-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
